@media only screen and (min-width: 38rem) {
    
    header {
        grid-template-columns: 50px auto;
    }

    header button {
        display: none;
    }

    nav {
        position: static;
        transform: translateY(0);
    }

    nav ul {
        display: flex;
        gap: 2rem;
    }

    nav ul li a {
        padding: 1rem 2rem;
    }

}