*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Hanken Grotesk";
}

#cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 2rem;
}

header, main, footer {
    background-color: #00DE00;
    text-align: center;
    padding: 2rem;
}

footer {
    background-color: #000;
    color: #fff;
}

h1 {
    font-size: 4rem;
}

#cards {
    padding: 4rem
}

#cards section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    padding: 1rem 2rem;
    clip-path: polygon(90% 0, 100% 5%, 100% 100%, 0 100%, 0 0);
    color: #fff;
    background-color: #000; 
}

h2 {
    text-align: center;
    font-size: 3rem;
}

dl {
    padding-block: 1rem;
}

dt, dd {
    text-align: center;
}

dt:last-of-type {
    margin-top: 1rem;
}

dt {
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 300;
}

dd {
    padding: 1rem;
    clip-path: polygon(90% 0, 100% 30%, 100% 100%, 0 100%, 0 0);
    background-color: #fff;
    color: #000;
    border: none;
    outline: none;
    margin-top: 1rem;
    font-weight: 800;
}
